<div fxLayout="row" fxLayoutAlign="center">
    <iframe seamless 
    title=""
     width="888" 
     height="336"  
     src="https://www.infoclimat.fr/public-api/mixed/iframeSLIDE?_ll=48.85341,2.3488&_inc=WyJQYXJpcyIsIjQyIiwiMjk4ODUwNyIsIkZSIl0=&_auth=BhxSRVEvUnBUeVZhD3kHLgdvV2ILfVJ1C3cCYQBlA34CaQRlBGRVMwdpB3oAL1VjAy5TMFxnV2cLYFIqCnhUNQZsUj5ROlI1VDtWMw8gBywHKVc2CytSdQtpAmwAbgN%2BAmUEaAR5VTUHbAdnAC5VYAM2UzVcfFdwC2lSMApvVDcGZFI1UTRSMlQ9VjQPIAcsBzFXYgs2Uj8LPgJiAGkDZAIwBDUEMlViB2EHZQAuVWYDN1M3XGJXaAtsUjIKYlQoBnpST1FBUi1Ue1Z2D2oHdQcpV2ILalI%2B&_c=a9ada32b943b42a042e2484a4a5500cd"></iframe>
</div>
<hr>
<app-annonces></app-annonces>
<hr>
<app-encarts-presses></app-encarts-presses>