<div fxLayout="row">
    <div fxFlex fxLayoutAlign="center">
        <h4>Nos Annonces</h4>
    </div>
</div>
<mat-grid-list [cols]="breakpoint" rowHeight="200px" (window:resize)="onResize($event)" >
    <mat-grid-tile *ngFor="let annonce of pagedList" >
        <mat-card class="annonce-card" >
            <mat-card-header>
            <mat-card-title>{{ annonce.titre }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <p>
                {{ annonce.contenu }}
            </p>
            </mat-card-content>
            <mat-card-actions>
            Date de publicaion : {{ annonce.datePublication | date }}
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div fxLayout="row" fxLayoutAlign="center">
    <mat-paginator [length]="length"
    [hidePageSize]="true"
    [pageSize]="pageSize"
    (page)="pageEvent = OnPageChange($event)">
    </mat-paginator>
</div>