.annonce-card {
    max-width: 400px;
    margin-right: 12px;
}
::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;  /*vertical alignment*/
    justify-content: initial;  /*horizontal alignment*/
    margin-inline-start: 0 !important;
    justify-content: flex-start;
}